body{
  margin: 0px;
  font-family: ;
}

#navigation{
  background-color: gray;
  text-align: right;
  text-transform: uppercase;
  height: 40px;
  padding-top: 20px;
  padding-left: 50%;
  display:flex;
  justify-content: space-around;
}

a{  /*Property of the nav link*/
  color: white;
  text-decoration: none;
}
/*=======================================padding: 10px;========================*/
      .imageHouse{/*First Image Size an property*/
        background: linear-gradient(to bottom, rgba(55,62,70,.8),rgba(55,62,70,.8)), url('images/archiHouse.jpg') 50% 50% / cover no-repeat fixed border-box;
        height: 70vh;

          /*Text inside the Image*/
        text-align: center;
        color: white;
        margin: 0px;
      }
      .imageHouse h2{
        margin: 0px;
        padding-top: 20vh;
      }
      .imageHouse p{
        margin: 5px 0px 10% 0px;
      }

.button{
   color: #5191D9;
   border: solid 3px #5191D9;
   border-radius: 5px;

   padding: 10px;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   font-size: 12px;
}

/*====================================================
Blue banner under the first image
======================================================*/

.blueBanner{
  text-align: center;
  margin: 0px;
  background-color: #5191D9;
}

  .blueBanner p{
    margin: 0px;
    padding-top: 7vh;
    margin-top: 0px;
    opacity:0.5;
  }
  .blueBanner h2{
    padding-bottom: 7vh;
    margin-bottom: 0px;
    opacity:0.5;
  }

  .lightGrayBanner{
    background-color: #BBC9D8;
    margin: 0px;
    padding: 0px 0px 5% 0px;
  }
    .containerTxt{
      display: flex;
      text-align: center;
      justify-content: space-around;
      margin-top: 0vh;
      }

      .number h3{
        padding: 1%;
        background-color: gray;
        color: white;
        border-radius: 100%;
      }

          .containerNumb{
      display: flex;
      justify-content: space-around;
      padding-top: 12vh;
      }

      .containerNumb h3{
        padding: 1%;
        background-color: gray;
        color: white;
        border-radius: 100%;
        margin: 0%;
      }

      .button2{
        color: #5191D9;
        border: solid 3px #5191D9;
        border-radius: 10px;
        padding: 10px;
        text-transform: uppercase;
        font-size: 12px;
      }

      .contTxtLeft{
        margin: 11%;

        display: flex;
        justify-content: flex-start;
        
      }

      .drawAlignRight{
        display: flex;
        justify-content: space-between;
      }


  
 